<%= form_for(@ship) do |f| %>
  <% if @ship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ship.errors.count, "error") %> prohibited this ship from being saved:</h2>

      <ul>
      <% @ship.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :cost %><br />
    <%= f.number_field :cost %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :empire_image, "Empire" %><br />
    <%= f.select :empire_image, Ship::EMPIRES, prompt: 'Select an Empire' %>
  </div>
  <div class="field">
    <%= f.label :craft %><br />
    <%= f.select :craft, Ship::CRAFT, Prompt: 'Select Shuttles' %>
  </div>
  <div class="field">
    <%= f.label :turn %><br />
    <%= f.number_field :turn %>
  </div>
  <div class="field">
    <%= f.label :shield %><br />
    <%= f.number_field :shield %>
  </div>
  <div class="field">
    <%= f.label :damage %><br />
    <%= f.number_field :damage %>
  </div>
  <div class="field">
    <%= f.label :marines %><br />
    <%= f.number_field :marines %>
  </div>
  <div class="field">
    <%= f.label :cripple_value %><br />
    <%= f.number_field :cripple_value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
