<%= form_for(@ship) do |f| %>
  <% if @ship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ship.errors.count, "error") %> prohibited this ship from being saved:</h2>

      <ul>
      <% @ship.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :cost %><br />
    <%= f.number_field :cost %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :empire_image, "Empire" %><br />
    <%= f.select :empire_image, Ship::EMPIRES, prompt: 'Select an Empire' %>
  </div>
  <div class="field">
    <%= f.label :craft %><br />
    <%= f.select :craft, Ship::CRAFT, Prompt: 'Select Shuttles' %>
  </div>
  <div class="field">
    <%= f.label :turn %><br />
    <%= f.number_field :turn %>
  </div>
  <div class="field">
    <%= f.label :shield %><br />
    <%= f.number_field :shield %>
  </div>
  <div class="field">
    <%= f.label :damage %><br />
    <%= f.number_field :damage %>
  </div>
  <div class="field">
    <%= f.label :marines %><br />
    <%= f.number_field :marines %>
  </div>
  <div class="field">
    <%= f.label :cripple_value %><br />
    <%= f.number_field :cripple_value %>
  </div>
<div><b>Traits:</b></div>
  <div class="traits">
  	<%= f.label :agile, "Agile:" %>
    <%= f.check_box(:agile)%>
    <%= f.label :armoured, "Armoured:" %>
    <%= f.check_box(:armoured)%>
    <%= f.label :cloak, "Cloak:" %>
    <%= f.check_box(:cloak)%>
    <%= f.label :enhanced_bridge, "Enhanced Bridge:" %>
    <%= f.check_box(:enhanced_bridge)%>
    <%= f.label :fast, "Fast:" %>
    <%= f.check_box(:fast)%>
    <%= f.label :immobile, "Immobile:" %>
    <%= f.check_box(:immobile)%>
    <%= f.label :lumbering, "Lumbering:" %>
    <%= f.check_box(:lumbering)%>
    <%= f.label :no_probes, "No Probes:" %>
    <%= f.check_box(:no_probes)%>
    <%= f.label :quick_launch, "Quick Launch:" %>
    <%= f.check_box(:quick_launch)%>
    <%= f.label :scout, "Scout:" %>
    <%= f.check_box(:scout)%>
    <%= f.label :slow, "Slow" %>
    <%= f.check_box(:slow)%>
  </div>
  <div class="traits">
    <%= f.label :anti_drone, "Anti-Drone:" %>
    <%= f.select :anti_drone, Ship::TRAIT_NUMBERS, Prompt: 'Select Trait Value' %>
    <%= f.label :command, "Command:" %>
    <%= f.select :command, Ship::TRAIT_NUMBERS, Prompt: 'Select Trait Value' %>
    <%= f.label :labs, "Labs:" %>
    <%= f.select :labs, Ship::TRAIT_NUMBERS, Prompt: 'Select Trait Value' %>
    <%= f.label :stealth, "Stealth:" %>
    <%= f.select :stealth, Ship::TRAIT_NUMBERS, Prompt: 'Select Trait Value' %>
    <%= f.label :tractor_beam, "Tractor Beams:" %>
    <%= f.select :tractor_beam, Ship::TRAIT_NUMBERS, Prompt: 'Select Trait Value' %>
    <%= f.label :transporter, "Transporters:" %>
    <%= f.select :transporter, Ship::TRAIT_NUMBERS, Prompt: 'Select Trait Value' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
