
		<tr>
			<td><%= Weapon.find(@weapon_card.weapon_id).name %></td>
			<td><%= Weapon.find(@weapon_card.weapon_id).range %></td>
			<td><%= @weapon_card.arc %></td>
			<td><%= @weapon_card.attack_dice %></td>
			<td><%= Weapon.find(@weapon_card.weapon_id).special %></td>
	
		</tr>
