<% if current_user.role == "subscriber" %>
	<div class="well span12"><h1>You are not authorized to view this page.</p></div>
<% else %>
<div class="span6">
    <h1>Ship List</h1>
  	<% @ships.each do |ship| %>
	<div class="span6" id="ship_index">
		<div class="span4">	
		    <div><%= image_tag(ship.empire_image) %>
			     <h3><%= ship.name %></h3>
			     <%= Ship::EMPIRES.key(ship.empire_image) %>
			</div>
		</div>
		<%= image_tag(ship.image_url)%>
	    <p>Cost: <b><%= ship.cost %></b></p>
        <div class="span6" id="ship_controls">
		    <%= button_to 'View', ship, method: :get, :class => "btn" %>
   		    <%= button_to 'Change Stats', edit_ship_path(ship), method: :get, :class => "btn" %>
  		    <%= button_to 'Destroy', ship, confirm: 'Are you sure?', method: :delete, :class => "btn" %>
        </div>
	</div>
	<% end %>
</div>
<div class="span2">
<a class="btn btn-info" href=<%= new_ship_path %>>Add a new ship</a>	
</div>
<% end %>