<% if notice %>
  <p id="notice">
	<%= notice %>
  </p>
<% end %>
<p>
  <b>Name:</b>
  <%= @ship.name %>
</p>

<p>
  <b>Cost:</b>
  <%= @ship.cost %>
</p>

<p>
  <b>Image url:</b>
  <%= @ship.image_url %>
</p>

<p>
  <b>Empire:</b>
  <%= @ship.empire_image %>
</p>

<p>
  <b>Turn: </b>
  <%= @ship.turn%>
</p>
<p>
  <b>Damage: </b>
  <%= @ship.damage%>
</p>
<p>
  <b>Crippled At: </b>
  <%= @ship.cripple_value%>
</p>
<p>
  <b>Shields: </b>
  <%= @ship.shield%>
</p>
<p>
  <b>Marines: </b>
  <%= @ship.marines%>
</p>
<p>
  <b>Craft: </b>
  <%= @ship.craft%>
</p>
<p>
	
	<b>Weapons:</b>
	<% @ship.weapon_cards.each do |card| %>
	<p><b>NAME:</b> <%= Weapon.find(card.weapon_id).name %> | <b>Range:</b> <%= Weapon.find(card.weapon_id).range %> | <b>ARC:</b> <%= card.arc %> | <b>AD:</b> <%= card.attack_dice %> | <b>Special:</b> <%= Weapon.find(card.weapon_id).special %></p>
	<% end %>
	
</p>


<%= link_to 'Add a Weapon', new_weapon_card_path(:ship_id => @ship.id) %> |
<%= link_to 'Edit', edit_ship_path(@ship) %> |
<%= link_to 'Back', ships_path %>
