<% if notice %>
  <p id="notice">
	<%= notice %>
  </p>
<% end %>
<div class="span10">
	<div class="well" id="name_plate">
		<div id="plate_1">
	    	<%= image_tag(@ship.empire_image, class: 'list_image_empire') %>
	    	<h2><%= @ship.name %></h2>
	    	<p> <%= @ship.cost %> points</p>
			
		</div>
	    <div id="plate_2"> 
			<%= image_tag(@ship.image_url, class: 'image_ship')%>
		</div>
	</div>
</div>

<div class="span2 offset2">
    <h3>Stats</h3>
	<ul>
	    <li><b>Turn:</b>        <%= @ship.turn%></li>
		<li><b>Damage:</b>      <%= @ship.damage%>/<%= @ship.cripple_value%></li>
		<li><b>Shields:</b>     <%= @ship.shield%></li>
		<li><b>Marines:</b>     <%= @ship.marines%></li>
		<li><b>Craft:</b>       <%= @ship.craft%></li>
	</ul>
	<h3>Traits</h3>
    <ul>
		<% if @ship.agile %>
		  <li><b>Agile </b></li>
		<% end %>
	
	
		<% unless @ship.anti_drone == 0 %>
		  <li><b>Anti-Drone <%= @ship.anti_drone %></b></li>
		<% end %>
	
	
		<% if @ship.armoured %>
		  <li><b>Armoured </b></li>
		<% end %>
	
	
		<% if @ship.cloak %>
		  <li><b>Cloak </b></li>
		<% end %>
	
	
		<% unless @ship.command == 0 %>
		  <li><b>Command + <%= @ship.command %></b></li>
		<% end %>
	
	
		<% if @ship.enhanced_bridge %>
		  <li><b>Enhanced Bridge </b></li>
		<% end %>
	
	
		<% if @ship.fast %>
		     <li><b>Fast </b></li>
		<% end %>
	
	
		<% if @ship.immobile %>
		    <li><b>Immobile </b></li>
		<% end %>
	
	
		<% unless @ship.labs == 0 %>
		    <li><b>Labs <%= @ship.labs %></b></li>
		<% end %>
	
	
		<% if @ship.lumbering %>
		    <li><b>Lumbering </b></li>
		<% end %>
	
	
		<% if @ship.no_probes %>
		    <li><b>No Probes </b></li>
		<% end %>
	
	
		<% if @ship.quick_launch %>
		    <li><b>Quick Launch </b></li>
		<% end %>
	
	
		<% if @ship.scout %>
		    <li><b>Scout </b></li>
		<% end %>
	
	
		<% if @ship.slow %>
		    <li><b>Slow </b></li>
		<% end %>
	
	
		<% unless @ship.stealth == 0 %>
		    <li><b>Stealth <%= @ship.stealth %></b></li>
		<% end %>
	
	
		<% unless @ship.tractor_beam == 0 %>
		     <li><b>Tractor Beams <%= @ship.tractor_beam %></b></li>
		<% end %>
	
		<% unless @ship.transporter == 0 %>
		    <li> <b>Transporters <%= @ship.transporter %></b></li>
		<% end %>
	</ul>
</div>
<div class="span8" id="weapon_table">
	<h3>Weapons</h3>
	<table class="table table-striped table-condensed">
		<tr>
			<th>Name</th>
			<th>Range</th>
			<th>Arc</th>
			<th>AD</th>
			<th>Special</th>
	
		</tr>
		<% @ship.weapon_cards.each do |card| %>
		<tr>
			<td><%= Weapon.find(card.weapon_id).name %></td>
			<td><%= Weapon.find(card.weapon_id).range %></td>
			<td><%= card.arc %></td>
			<td><%= card.attack_dice %></td>
			<td><%= Weapon.find(card.weapon_id).special %></td>
	
		</tr>
		<% end %>
	</table>
</div>
<div class="span10 offset2" id="crits_table">
	<table class="table table-bordered table-striped">
		<h3>Critical Location</h3>
		<tr>
			<td class="row_header">
				Impulse Drive
				<p>
					<table class="table table-bordered checkboxes">
						<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						</tr>
					</table>
				</p>
			</td>
			<td>Max. Speed 10</td>
			<td>Max. Speed 8</td>
			<td>Escalate, Crew Critical Score +1</td>
			<td>Ship Adrift</td>
			<td>Dilithium Critical Score +1</td>
			<td>Damage Control rolls at -1</td>
		</tr>
		<tr>
			<td class="row_header">
				Dilithium Chamber
				<p>
						<table class="table table-bordered checkboxes">
							<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							</tr>
						</table>
				</p>
			</td>
			<td>Max. Speed 10. Lose 5 shields</td>
			<td>Lose one random Trait, Lose 5 shields, Escalate</td>
			<td>Shields to 0</td>
			<td>Max. Speed 4, lose one random trait, -1 Marines</td>
			<td>Ship Adrift, CQ 9 every End Phase or EXPLODE</td>
			<td>Ship Explodes</td>
		</tr>
		<tr>
			<td class="row_header">
				Weapons
				<p>
						<table class="table table-bordered checkboxes">
							<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							</tr>
						</table>
				</p>
			</td>
			<td>All weapon systems to -1 to hit</td>
			<td>One random weapon system cannot fire</td>
			<td>Must roll 4+ before firing each weapon system, Escalate</td>
			<td>CQ 9 every end phase, or Dilithium Critical Score +1</td>
			<td>ALL weapons -1 AD</td>
			<td>No weapons may fire</td>
		</tr>
		<tr>
			<td class="row_header">
				Crew
				<p>
						<table class="table table-bordered checkboxes">
							<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							</tr>
						</table>
				</p>
			</td>
			<td>-1 Marines</td>
			<td>-2 Marines, escalate</td>
			<td>All CQ checks at -1</td>
			<td>No Special Actions, -2 Marines</td>
			<td>Must roll 4+ before firing each weapon system</td>
			<td>-3 Marines, no Damage Control, no Special Actions, lose one random trait</td>
		</tr>
		<tr>
			<td class="row_header">
				Shields
				<p>
						<table class="table table-bordered checkboxes">
							<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							</tr>
						</table>
				</p>
			</td>
			<td>Lose 5 shields</td>
			<td>Lose 5 shields, CQ 9 every end phase, or Dilithium Critical Score +1</td>
			<td>Lose 5 shields, Escalate</td>
			<td>Each attacking weapon system ignores shields on a 4+</td>
			<td>Shields to 0</td>
			<td>Shields to 0</td>
		</tr>
	</table>
</div>

<div class="span6 offset2">
<p><a class="btn" href=<%= new_weapon_card_path(:ship_id => @ship.id) %>>Add a weapon</a>
<a class="btn" href=<%= edit_ship_path(@ship) %>>Edit this ship</a>
<a class="btn" href=<%= ships_path %>>Go back to the list</a></p>
</div>