<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ship.name %>
</p>

<p>
  <b>Cost:</b>
  <%= @ship.cost %>
</p>

<p>
  <b>Image url:</b>
  <%= @ship.image_url %>
</p>

<p>
  <b>Empire:</b>
  <%= @ship.empire_image %>
</p>

<p>
  <b>Turn: </b>
  <%= @ship.turn%>
</p>
<p>
  <b>Damage: </b>
  <%= @ship.damage%>
</p>
<p>
  <b>Crippled At: </b>
  <%= @ship.cripple_value%>
</p>
<p>
  <b>Shields: </b>
  <%= @ship.shield%>
</p>
<p>
  <b>Traits: </b>
  <%= @ship.traits%>
</p>
<p>
  <b>Marines: </b>
  <%= @ship.marines%>
</p>
<p>
  <b>Craft: </b>
  <%= @ship.craft%>
</p>


<%= link_to 'Edit', edit_ship_path(@ship) %> |
<%= link_to 'Back', ships_path %>
