<% if notice %>
  <p id="notice">
	<%= notice %>
  </p>
<% end %>
<div class="span10">
	<div class="well" id="name_plate">
		<div id="plate_1">
	    	<%= image_tag(@ship.empire_image, class: 'list_image_empire') %>
	    	<h2><%= @ship.name %></h2>
	    	<p> <%= @ship.cost %> points</p>
			
		</div>
	    <div id="plate_2"> 
			<%= image_tag(@ship.image_url, class: 'image_ship')%>
		</div>
	</div>
</div>

<div class="span2 offset2">
    <h3>Stats</h3>
	<ul>
	    <li><b>Turn:</b>        <%= @ship.turn%></li>
		<li><b>Damage:</b>      <%= @ship.damage%>/<%= @ship.cripple_value%></li>
		<li><b>Shields:</b>     <%= @ship.shield%></li>
		<li><b>Marines:</b>     <%= @ship.marines%></li>
		<li><b>Craft:</b>       <%= @ship.craft%></li>
	</ul>
	<h3>Traits</h3>
    <ul>
		<% if @ship.agile %>
		  <li><b>Agile </b></li>
		<% end %>
	
	
		<% unless @ship.anti_drone == 0 %>
		  <li><b>Anti-Drone <%= @ship.anti_drone %></b></li>
		<% end %>
	
	
		<% if @ship.armoured %>
		  <li><b>Armoured </b></li>
		<% end %>
	
	
		<% if @ship.cloak %>
		  <li><b>Cloak </b></li>
		<% end %>
	
	
		<% unless @ship.command == 0 %>
		  <li><b>Command + <%= @ship.command %></b></li>
		<% end %>
	
	
		<% if @ship.enhanced_bridge %>
		  <li><b>Enhanced Bridge </b></li>
		<% end %>
	
	
		<% if @ship.fast %>
		     <li><b>Fast </b></li>
		<% end %>
	
	
		<% if @ship.immobile %>
		    <li><b>Immobile </b></li>
		<% end %>
	
	
		<% unless @ship.labs == 0 %>
		    <li><b>Labs <%= @ship.labs %></b></li>
		<% end %>
	
	
		<% if @ship.lumbering %>
		    <li><b>Lumbering </b></li>
		<% end %>
	
	
		<% if @ship.no_probes %>
		    <li><b>No Probes </b></li>
		<% end %>
	
	
		<% if @ship.quick_launch %>
		    <li><b>Quick Launch </b></li>
		<% end %>
	
	
		<% if @ship.scout %>
		    <li><b>Scout </b></li>
		<% end %>
	
	
		<% if @ship.slow %>
		    <li><b>Slow </b></li>
		<% end %>
	
	
		<% unless @ship.stealth == 0 %>
		    <li><b>Stealth <%= @ship.stealth %></b></li>
		<% end %>
	
	
		<% unless @ship.tractor_beam == 0 %>
		     <li><b>Tractor Beams <%= @ship.tractor_beam %></b></li>
		<% end %>
	
		<% unless @ship.transporter == 0 %>
		    <li> <b>Transporters <%= @ship.transporter %></b></li>
		<% end %>
	</ul>
</div>
<div class="span8" id="weapon_table">
	<h3>Weapons</h3>
	<table class="table table-striped table-condensed">
		<tr>
			<th>Name</th>
			<th>Range</th>
			<th>Arc</th>
			<th>AD</th>
			<th>Special</th>
	
		</tr>
		<% @ship.weapon_cards.each do |card| %>
		<tr>
			<td><%= Weapon.find(card.weapon_id).name %></td>
			<td><%= Weapon.find(card.weapon_id).range %></td>
			<td><%= card.arc %></td>
			<td><%= card.attack_dice %></td>
			<td><%= Weapon.find(card.weapon_id).special %></td>
	
		</tr>
		<% end %>
	</table>
</div>

<div class="span6 OFFSET3">
<p><a class="btn" href=<%= new_weapon_card_path(:ship_id => @ship.id) %>>Add a weapon</a>
<a class="btn" href=<%= edit_ship_path(@ship) %>>Edit this ship</a>
<a class="btn" href=<%= ships_path %>>Go back to the list</a></p>
</div>