<%= form_for(@weapon_card, :remote => true) do |f| %>
    <td class="hidden">
      <%= f.label :ship_id %>
      <%= f.number_field :ship_id, :value => @ship.id %>
    </td>
    <td id="weapon_id_field" class="span1">
      <%= f.select :weapon_id, @weapon_names, prompt: "Select your weapon" %>
    </td>
    <td></td>
    <td>
      <%= f.text_field :arc, :placeholder => "ARC" %></td>
    </td>
    <td>
      <%= f.select :attack_dice, (1..10), prompt: "AD" %>
    </td>
    <td class="actions">
      <%= f.submit %>
    </td>
<% end %>