<h1>Listing assigned_ships</h1>

<table>
  <tr>
    <th>Ship</th>
    <th>Fleet list</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @assigned_ships.each do |assigned_ship| %>
  <tr>
    <td><%= assigned_ship.ship_id %></td>
    <td><%= assigned_ship.fleet_list_id %></td>
    <td><%= link_to 'Show', assigned_ship %></td>
    <td><%= link_to 'Edit', edit_assigned_ship_path(assigned_ship) %></td>
    <td><%= link_to 'Destroy', assigned_ship, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Assigned ship', new_assigned_ship_path %>
