<!DOCTYPE html>
<html>
<head>
  <title>A CALL TO ARMS STAR FLEET</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
  <div id='banner'>
  	<%= image_tag("banner2.png") %>
  </div>
  <div id="title">
  	<%= @page_title || "Fleet Builder"%>
  </div>
  <div id="columns">
  	<div id="side">
      <ul>
      	<li><a href="http://localhost:3000">Home</a></li>
      	<li><a href="http://localhost:3000/ships">Ship List</a></li>
        <li><a href="http://localhost:3000/weapons">Weapons List</a></li>
      </ul>
      </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
