<!DOCTYPE html>
<html>
<head>
  <title>A CALL TO ARMS STAR FLEET</title>
  <%= stylesheet_link_tag "custom", :media => "all" %>
  <%= stylesheet_link_tag 'print', :media => :print %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
	<div class="navbar navbar-fixed-top remove">
	    <div class="navbar-inner">
	        <div class="container">
	            <%= image_tag("ActaSF.png", class: "logo") %>
	            <%= @page_title || "Fleet Builder"%>
    				<div class="nav-collapse">
						<ul class="nav">
							<li><%=link_to "Home", root_path %></li>
							<li><%= link_to "Sign in", "#" %></li>
							<li><%= link_to "Fleet Builder", store_index_path %></li>
				      		<li><%= link_to "Ship List", ships_path %></li>
				        	<li><%= link_to "Weapon List", weapons_path %></li>
						</ul>
					</div>
    			</div>
	        </div>
	    </div>
	</div>    
	
	<div class="container">
    	<div class="row">
		    <div id="main_body_content">
		      <%= yield %>
		    </div>
		</div>
	</div>
</div>

</body>
</html>
