<!DOCTYPE html>
<html>
<head>
  <title>A CALL TO ARMS STAR FLEET</title>
  <%= stylesheet_link_tag "custom", :media => "all" %>
  <%= stylesheet_link_tag 'print', :media => :print %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
	<div class="navbar navbar-fixed-top remove">
	    <div class="navbar-inner">
	        <div class="container">
	            <%= image_tag("ActaSF.png", class: "logo") %>
    				<div class="nav-collapse">
						<ul class="nav">
							<li><%= link_to "Home", root_path %></li>
						  <% unless signed_in? %>
							<li><%= link_to "Sign in", signin_path %></li>
						  <% else %>
							<% if can? :read, Ship %>
								<li><%= link_to "Fleet Builder", store_index_path %></li>
							<% end %>
							<li id="fat-menu" class="dropdown">
							              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
							                Account <b class="caret"></b>
							              </a>
							
							<ul class="dropdown-menu">
								<% if can? :create, Ship %>
						      		<li><%= link_to "Ship List", ships_path %></li>
						        	<li><%= link_to "Weapon List", weapons_path %></li>
						            <li><%= link_to "User List", users_path %></li>
								<% end %>
								<li class="divider"></li>
								<li><%= link_to "Profile", current_user %></li>
								<li><%= link_to "Sign out", signout_path, method: "delete" %></li>
							</ul>
							</li>
						  <% end %>
						</ul>
					</div>
    			</div>
	        </div>
	    </div>
	</div>    
	
	<div class="container">
    	<div class="row">
		    <div id="main_body_content">
			  <% flash.each do |key, value| %>
		        <div class="alert alert-<%= key %>"><%= value %></div>
			  <% end %>
		      <%= yield %>
			  <div class="span10 offset1"></div>
		    </div>
		</div>
	</div>
</div>

</body>
</html>
